#container {
    font-family: arial sans-serif;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

button {
    font-size:1.5rem;
    padding:10px 15px;
    border-radius: 10px;
    border:none;
    background-color: hsl(210, 100%, 50%);
    color:white;
    font-weight:bold;
    cursor:pointer;
    transition: background-color 0.25s;
}

button:hover{
    background-color: hsl(271, 76%, 53%);
}

button:active{
    background-color: hsl(271, 76%, 70%);
}

input {
    font-size:2rem;
    width:150px;
    text-align: center;
    font-weight:bold;
}
